{% extends 'main/layout.html' %}

{% block title %}
    Интересные факты о пончиках
{% endblock %}

{% block content %}
    <h2>Занимательные факты о пончиках</h2>
    <ul>
        <li>Первый документально подтверждённый пончик был приготовлен в 1809 году в Америке голландскими поселенцами.</li>
        <li>Национальный день пончика празднуется в США в первую пятницу июня.</li>
        <li>Самый большой пончик в мире весил более 3 тонн и был создан в Нью-Йорке.</li>
        <li>По легенде, отверстие в пончике придумал американский моряк Хэнсон Грегори в 1847 году.</li>
        <li>В Польше перед Великим постом едят пончики (пончки) на праздник Жирного Четверга.</li>
    </ul>
{% endblock %}