{% load static %}
<footer class="footer mt-4">
    <div class="container text-center">
        <p class="mb-1">© 2025 Donaught. Все права защищены.</p>
        <div class="d-flex justify-content-center align-items-center gap-4 mt-3">
          <a href="https://vk.com/donaught" target="_blank">
          <img src="{% static 'main/image/vk_logo.png' %}" alt="VK" style="height: 32px;">
          </a>
          <a href="https://t.me/donaught" target="_blank">
          <img src="{% static 'main/image/telegram_logo.png' %}" alt="Telegram" style="height: 32px;">
          </a>
        </div>
    </div>

</footer>